.loginPage {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    margin-top: 10px;
}

.loginMenu{
    font-size: 15px;
    color: black;
    border: 3px solid black;
    border-radius: 10%;
    padding: 3px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 700;
}

.loginMenu p {
    margin: 0;
}

.fpImg{
    padding: 10px 0px;
    width: fit-content;
    height: 100px;
}
.menuAll{
    display: flex;
    justify-content: space-between;
}
.menuName {
    font-size: 25px;
    font-weight: 700;
    color: black;
    padding: 10px;
    text-decoration: none;
    /* border-bottom: 2px solid ; */
}
.menuName p{
    position: relative;
    top: 20px;
}